# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
# Disable phpcs/code style checks
phpcs_disable = true

# PHP files
[*.php]
# Disable all code style checks
phpcs_disable = true
phpmd_disable = true
