parameters:
    level: 5
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        # Ignore some legacy code issues temporarily
        - '#Call to an undefined method.*__destruct\(\)#'
        - '#Deprecated in PHP 8\.4: Parameter.*is implicitly nullable#'
    reportUnmatchedIgnoredErrors: false

